<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 spacer-large">
            <h3>Annie Turner <small>member spotlight for September, 2017</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <img src="../../assets/img/memberSpotlight/2017/september/AnnieTurner.png" />
        </div>
        <div class="col-xs-12 col-md-8">
            <ul class="list-unstyled">
                <li class="spacer"><strong>Name:</strong> Anne Turner <small>Age: 29</small></li>
                <li>
                    <strong>Occupation: </strong>Mental Health Therapist
                </li>
                <li>
                    <strong>How long have you been doing CF and what class do you normally attend?</strong><br />
                    I started CF 6 years ago and haven’t looked back! I alternate between 6:00 am and 4:30 pm, depending how many times I hit snooze. I also enjoy
                    Saturday team WODs.
                </li>
                <li>
                    <strong>What made you start doing CF?</strong><br />
                    I was strongly convinced to try CF by a friend. I would be lying if I said I wasn’t nervous. The CF world was a whole new adventure,
                    both physically and mentally. I didn’t know how long I would last because after that first warm-up, I was ready to throw in the towel. 
                    Thankfully, I stuck with it because I don’t know where I would be!
                </li>
                <li>
                    <strong>What is your athletic background?</strong><br />
                    I did not grow up playing sports or had any interest in
                    sports or athletics. I have not one athletic bone in my body. So, to my surprise, I quickly fell in love
                    with CF!
                </li>
                <li>
                    <strong>What's your favorite lift/movement</strong><br />
                    My all-time favorite movements are power/squat
                    cleans.
                </li>
                <li>
                    <strong>How has CF changed your life/lifestyle/level of fitness?</strong><br />
                    CF has completely changed my
                    life/lifestyle. I’m not exactly where I want to be physically but that’s what is awesome about CF, I’m
                    constantly able to push myself to the next level. I’ve learned how to push myself and learned that my
                    body can withstand a lot more than I ever thought possible.
                </li>
                <li>
                    <strong>What do you enjoy most about CF?</strong><br />
                    I enjoy the variety in the workouts and being able to learn something new about my ability as an athlete every time I step foot in the door!
                </li>
                <li>
                    <strong>What is your proudest CF achievement?</strong><br />
                    My proudest achievement was setting a new squat clean PR at Pensacola Beach Brawl last year.
                </li>
                <li>
                    <strong>Name one goal/personal achievement that you would like to accomplish through CF.</strong><br />
                    I would like to master pull-ups!
                </li>
                <li>
                    <strong>What are your hobbies/interests outside of CF?</strong><br />
                    My current hobby is planning my wedding. The details are keeping me busy outside of work and CF. I also enjoy relaxing at 
                    home and hanging out with family and friends.
                </li>
                <li>
                    <strong>What advice would you give to new members?</strong><br />
                    My number one advice is never give up! It’s so quick to get into your head and easily talk yourself out of trying something 
                    new but it’s totally worth the push!
                </li>
                <li>
                    <strong>What is your favorite cheat meal?</strong><br />
                    If you know me, I can’t pass up a good Mexican cheat meal!
                </li>
            </ul>
        </div>
    </div>
</div>