<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 spacer-large">
            <h3>Jenny and Stew Lodondo <small>member spotlight for May, 2017</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <img src="../../assets/img/memberSpotlight/2017/may/JennyAndStewLodondo.png" />
        </div>
        <div class="col-xs-12 col-md-8">
            <ul class="list-unstyled">
                <li class="spacer"><strong>Names:</strong> Jenny and Stew Lodondo</li>
                <li>
                    <strong>How long have you been CrossFitting?</strong><br /> About 5 years on and off for both of us.
                </li>
                <li>
                    <strong>What's your favorite lift/movement</strong><br />
                    Jenny - I'd have to say candlesticks because you really have to focus on your core to do them right. 
                    Burpees because it's a total body workout. And box step-ups because I feel it’s the one move that really 
                    forced me to strengthen my weaker leg. <br />
                    Stew - WallBalls and rowing.
                </li>
                <li>
                    <strong>What is your favorite CrossFit memory? (specifically, with your spouse)</strong><br />
                    Jenny - Favorite CrossFit memory would have to be the first team WOD Stu and I did together. 
                    We argued the whole time but I feel it pushed us both to work a little harder during the WOD.<br />
                    Stew - I feel the same as Jenny team WOD or as Jenny and I like to call it, The Fight WOD has to be my favorite CrossFit memories.
                </li>
                <li>
                    <strong>What advice would you give to other CrossFit couples/families?</strong><br />
                    Jenny - Keep working out together. Motivate and push each other to become stronger and better athletes together.<br />
                    Stew - Make time to get in the Gym no matter what. 
                </li>
            </ul>
        </div>
    </div>
</div>