<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 spacer-large">
            <h3>Susan and Parrish Eilers
                <small>Member Spotlight for November, 2017</small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <img src="../../assets/img/memberSpotlight/2017/november/TheEilers.png" alt="Susan and Parish Eilers">
        </div>
        <div class="col-xs-12 col-md-7">
            <ul class="list-unstyled">
                <li class="spacer">
                    <strong>NAMES, AGES, OCCUPATIONS:</strong>
                    <br /> Susan Eilers, 44, Chaos coordinator
                    <br /> Parrish Eilers, 46, Physician
                    <li>
                        <strong>How long have you been doing CF?</strong>
                        <br /> Susan-9 months; <br />Parrish-8 months
                    </li>
                    <li>
                        <strong>How did your family start crossfit?</strong>
                        <br /> Susan-a friend convinced me to do boot camp and I was hooked. <br />Parrish-I have been interested in
                        crossfit for years. Loved watching the crossfit games. When Susan started CFM I was jealous and I
                        joined too.
                    </li>
                    <li>
                        <strong>What is your favorite lift or movement?</strong>
                        <br /> Susan-My favorite lift is the back squat. I also love tire flipping and battle ropes. <br />Parrish-
                        My favorite lift is the back squat. I also love handstand holds. Still working on mastering them.
                    </li>
                    <li>
                        <strong>What do you enjoy most about CF?</strong>
                        <br /> Susan-It’s always changing so I can’t get bored. I feel so strong after I complete a tough WOD.
                        I also enjoy working out with my hubby. <br />Parrish-I am only in competition with myself. It’s humbling
                        and challenging at the same time.
                    </li>
                    <li>
                        <strong>What is your athletic background?</strong>
                        <br /> Susan-Don’t really have one. CF is the 1st thing I have ever stuck with. <br />Parrish-I played soccer
                        in High School and I have enjoyed running for years. Over the years I have also entered various obstacle
                        course races.
                    </li>
                    <li>
                        <strong>What is your proudest CF achievement?</strong>
                        <br /> Susan-RXing my 1st WOD. <br />Parrish-rope climbing and getting my 1st handstand hold.
                    </li>
                    <li>
                        <strong>What are your hobbies/interests outside of CF?</strong>
                        <br /> We both love going to Disney World and spending time with our kids.
                    </li>
                    <li>
                        <strong>What advice would you give to new members?</strong>
                        <br /> Susan-Show up no matter what and give everything you have. A friend once told me to sign into class
                        the day before to commit yourself to it. It works! <br />Parrish-Don’t be discouraged. It’s a marathon,
                        not a sprint. Consistency is key.
                    </li>
                    <li>
                        <strong>What is your favorite cheat meal?</strong>
                        <br /> Susan-Beignets; <br />Parrish-Mexican food
                    </li>
            </ul>
        </div>
    </div>
</div>