<div class="container-fluid">
    <div class="row nav-row">
        <div class="col-xs-12">
            <div class="btn-group hidden-xs" role="group">
                <a class="btn btn-primary page-scroll" href="#programs-crossfit">Crossfit</a>
                <a class="btn btn-primary page-scroll" href="#programs-skinnyfit">SkinnyFit</a>
                <a class="btn btn-primary page-scroll" href="#programs-befit">BeFit Boot Camp</a>
                <a class="btn btn-primary page-scroll" href="#programs-kids">Crossfit Kids/Teens</a>
            </div>
            <div class="btn-group-vertical visible-xs" role="group">
                <a class="btn btn-primary page-scroll" href="#programs-crossfit">Crossfit</a>
                <a class="btn btn-primary page-scroll" href="#programs-skinnyfit">SkinnyFit</a>
                <a class="btn btn-primary page-scroll" href="#programs-befit">BeFit Boot Camp</a>
                <a class="btn btn-primary page-scroll" href="#programs-kids">Crossfit Kids/Teens</a>
            </div>
        </div>
    </div>
    <div class="row nav-row last">
        <div class="col-xs-12">
            <div class="btn-group hidden-xs" role="group">
                <a class="btn btn-primary page-scroll" href="#programs-oly">Olympic Lifting Skills Class</a>
                <a class="btn btn-primary page-scroll" href="#programs-competitor">Competitor’s Program</a>
                <a class="btn btn-primary page-scroll" href="#programs-endurance">Endurance</a>
            </div>
            <div class="btn-group-vertical visible-xs" role="group">
                <a class="btn btn-primary page-scroll" href="#programs-oly">Olympic Lifting Skills Class</a>
                <a class="btn btn-primary page-scroll" href="#programs-competitor">Competitor’s Program</a>
                <a class="btn btn-primary page-scroll" href="#programs-endurance">Endurance</a>
            </div>
            
        </div>

    </div>


    <div class="row program-row" id="programs-crossfit">
        <div class="col-xs-12 col-md-6">
            <h3>Crossfit</h3>
            We offer conventional CrossFit programming throughout the day which is included in your CFM membership. We program for the
            most advanced athletes and scale down as needed. This method ensures all athletes are consistently being challenged
            while allowing those that are still progressing to do so in a safe, but still competitive environment.
            <p><a href="#programs" class="page-scroll">Back to Top</a></p>
        </div>
    </div>

    <div class="row program-row" id="programs-skinnyfit">
        <div class="col-xs-12 col-md-6 col-md-offset-6">
            <h3>SkinnyFit</h3>
            <p>
                SkinnyFit is a high intensity cardio, boot-camp style class designed to blast calories and sculpt lean muscle. No barbells
                are used, but plenty of bands, MedBalls, Kettlebells and bodyweight movements will be incorporated. The class
                meets Monday – Friday at 9am for one hour.
            </p>
            <p>
                <strong>This class is included in your CFM membership.  SkinnyFit ONLY memberships can be purchased for $99 per month.</strong>                Please see a CFM staff member with any questions.
            </p>
            <p><a href="#programs" class="page-scroll">Back to Top</a></p>
        </div>
    </div>

    <div class="row program-row" id="programs-befit">
        <div class="col-xs-12 col-md-6">
            <h3>BeFit Boot Camp</h3>
            <p>
                This 8-week program will leave you feeling like a NEW you. BeFit is an upbeat program designed to help the unmotivated stay
                motivated! With nutritional guidance, accountability and support and some enthusiastic programming this program
                is sure to leave you with results!
            </p>
            <p>
                <strong>This program is not included in the standard CFM membership and a program fee applies.</strong> Please
                see a CFM staff member with any questions.
            </p>
            <p><a href="#programs" class="page-scroll">Back to Top</a></p>
        </div>
    </div>

    <div class="row program-row" id="programs-kids">
        <div class="col-xs-12 col-md-6 col-md-offset-6">
            <h3>CrossFit Kids/Teens</h3>
            <p>
                CrossFit Teens and CrossFit Kids cater to the specific developmental needs for this specific population. CrossFit Teens begins
                at age 12 and CrossFit Kids begins at age 8. Both programs fully develop the youth as an athlete, teaching
                proper form and technique, teaching a true meaning of dedication and hard work and having fun along the way.
                Classes meet Tuesdays and Thursdays, 4:30pm for teens and 5:30pm for kids. The hour-long class will consist
                of all the basics (i.e. running, lifting, squatting, etc.). No prerequisite is required.
            </p>

            <ul class="list-unstyled">
                <li><strong>$40/month for once a week</strong></li>
                <li><strong>$75/month for twice a week</strong></li>
                <li><strong class="text-muted">*Additional child receives 10% off!</strong></li>
                <li>Contact Coach Lacey for more details (<a href="mailto:lacey@cfmandeville.com">lacey@cfmandeville.com</a>)</li>
            </ul>
            <p><a href="#programs" class="page-scroll">Back to Top</a></p>
        </div>
    </div>

    <div class="row program-row" id="programs-oly">
        <div class="col-xs-12 col-md-6">
            <h3>Olympic Lifting Skills Class</h3>
            <p>
                This 8-week course focuses on developing skills for the Snatch and the Clean and Jerk. The course is beginner level with
                an emphasis on skills and is NOT designed as a strength program. The class meets Tuesday evenings at 6:30pm
                and an additional time slot for 1 hour over the weekend.
            </p>

            <ul class="list-unstyled">
                <li><strong>This program is not included in the standard CFM membership.</strong></li>
                <li><strong>$160 is the cost of the 8-week class.</strong></li>
            </ul>
            <p><a href="#programs" class="page-scroll">Back to Top</a></p>
        </div>
    </div>

    <div class="row program-row" id="programs-competitor">
        <div class="col-xs-12 col-md-6 col-md-offset-6">
            <h3>Competitor’s Program</h3>
            <p>
                This program is offered for those athletes that desire and are ready for additional training volume and intensity that also
                incorporates technical movements more frequently than our conventional CrossFit program. This program requires
                the athlete to meet certain prerequisites before starting these classes. Please see a CFM staff member with
                any questions. This program is also included in your CFM membership.
            </p>
            <p><a href="#programs" class="page-scroll">Back to Top</a></p>
        </div>
    </div>

    <div class="row program-row" id="programs-endurance">
        <div class="col-xs-12 col-md-6">
            <h3>Endurance</h3>
            <p>
                CrossFit combined with Endurance is the perfect combination for any type of fitness training. Just as CrossFit puts athletes
                through fundamental classes, CrossFit Endurance initially drills running techniques that help you learn to
                pace and become more efficient. CrossFit Endurance will help you learn to pace inside and outside the box.
                After you learn the basics of pacing, posing, and running you will then start your endurance journey. You
                will begin establishing 5k, 100m, 400m, etc. timed runs. As you set these benchmarks, your coaches will begin
                adding volume and intensity to your drill and workouts all while continuing to improve your technique and
                form!
            </p>
            <p>
                This program usually lasts for 8 weeks.
                <strong>This program is not included in the standard CFM membership and a program fee applies.</strong> Please
                see a CFM staff member with any questions.
            </p>
            <p><a href="#programs" class="page-scroll">Back to Top</a></p>
        </div>
    </div>
</div>