<div class="container-fluid">


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Crossfit Specialty Course <small>Conjugate Methods <strong>October 14th - 15th, 2017</strong></small></h3>
            <div class="row">
                <div class="col-xs-12 col-md-3 course-image">
                    <a href="https://crossfit.regfox.com/cmmandevilleoct2017" target="_blank"><img src="../../assets/img/events/CFSC_ConjugateMethods_White.png" alt="Crossfit Conjugate Methods Image" /></a>
                </div>
                <div class="col-xs-12 col-md-9 course-description">
                    <p>
                        Crossfit Mandeville has been chosen to host a new specialty course at the box. This course is for the athlete and trainer
                        interested in learning the methods used by Louie Simmons of Westside Barbell and incorporating them
                        into training. Participants learn about the Conjugate System: how to vary exercises, volume and loading
                        to develop top-end strength. Emphasis is placed on the three major lifts: back squat, deadlift and
                        bench press, although instruction is applicable to all strength training. The course also includes
                        information on numerous assistance exercises and accommodating resistance (box squats, bands for
                        lifts, sleds, ropes, etc.). All methods can be used with CrossFit to help increase one’s overall
                        fitness.
                    </p>
                    <p><strong>The details are below</strong></p>
                        <ul class="list-unstyled">
                            <li>When: <strong>October 14th - 15th, 2017</strong></li>
                            <li>Where: <strong>Crossfit Mandeville, 2101 North Causeway Blvd Mandeville, LA 70471</strong></li>
                            <li>How to register: <strong><a href="https://crossfit.regfox.com/cmmandevilleoct2017" target="_blank">https://crossfit.regfox.com/cmmandevilleoct2017</a></strong></li>
                            <li>&nbsp;</li>
                            <li>Questions?: <strong>Contact List Grab, <a href="tel:985-951-2255">985-951-2255</a>, lisa@cfmandeville.com</strong></li>
                        </ul>
                    <p class="alert alert-danger">
                        <strong>Register Early!</strong>&nbsp; There are only 50 spots available for this seminar!
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>