@import '../../assets/less/variables.less';
@import '../../assets/less/mixins.less';


.wod-container {
    margin-top: 40px;
}
.wod {
    margin-top: 20px;
}

.xs-vert-single-button {
    margin-top: 10px;
    @media(max-width: 768px) {
        text-align: left;
    }
}