<!-- Navigation -->
<cfm-nav></cfm-nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Are you ready to get in the best shape of your life?</div>
      <div class="intro-heading">Let's take the first step...</div>
      <a href="#gettingStarted" class="page-scroll btn btn-xl">Tell Me More</a>
    </div>
  </div>
</header>

<section id="wods" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">WOD</h2>
        <h3 class="section-subheading text-muted">Also known as the workout of the day...</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <cfm-wod></cfm-wod>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section id="gettingStarted">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Getting Started</h2>
        <h3 class="section-subheading text-muted">So you're ready to go?  The steps below will help you on your journey.</h3>
      </div>
    </div>
    <div class="col-lg-12">
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/assets/img/about/1.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Make The Choice</h4>
              <h4 class="subheading">Call, email or come on by!</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Call <a href="tel:985.951.2255">985.951.2255</a>, email <a href="mailto:info@cfmandeville.com">info@cfmandeville.com</a> or or stop by to speak with
                one of our experienced staff to find out more about our programs and set up an appointment for our <strong><i>Fundamentals Program</i></strong> if you are new to CrossFit.
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/assets/img/about/2.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Fundamentals <span class="text-danger"> (REQUIRED) </span></h4>
              <h4 class="subheading">Dive into perfect movement!</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Fundamentals – A 4 session course that will be taught in a small group setting with a coach introducing you to our 9 foundational
                movements that are used in class.  Before entering the general CrossFit classes, we will take this time to get you familiar with how a class is run,
                what a WOD is, and find out more about YOU!
              </p>
              <p class="emphasis">
                <strong>The course fee is $100 which includes the 4 sessions and a CFM T-shirt.</strong>
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/assets/img/about/3.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>You're Ready!</h4>
              <h4 class="subheading">Crossfit Classes</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                You're now ready to dive into becoming the best you!  You will have access to CrossFit classes on the calendar once your 4 Fundamentals sessions have been completed.
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image last">
            <img src="/assets/img/logos/cfm-red-200width.png" alt="CFM logo" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Portfolio Grid Section -->
<section id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About CFM</h2>
        <h3 class="section-subheading text-muted">This could be a tag-line we put in the about section</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Brad.png" class="img-responsive img-circle" alt="">
          <h4>Brad, Head Coach</h4>
          <p class="text-muted">Certifications: Level 1, Level 2, Olympic Lifting, Mobility, Gymnastics, Endurance, and USAW Sports Performance Coach</p>
          <p class="biography">
            Brad is a Level 2 CrossFit Trainer, CrossFit Olympic Lifting Certified Trainer, CrossFit Gymnastics Certified Trainer, Crossfit Mobility Trainer, CrossFit Endurance Trainer,
            and a USAW Sports Performance Coach. From Bossier City, Louisiana, Brad played high school football and baseball at Evangel Christian Academy before earning a spot as kicker
            for Northwestern State University. He served six years active duty in the U.S. Army as well as two Tours in Iraq during Operation Iraqi Freedom. Brad then followed his military
            career by several years as a firefighter with St. Tammany Parish Fire Protection District No. 1. In addition to being a coach, Brad is also an AdvoCare Independent Distributor.
            In Brad’s CrossFit experience, “Shared Agony and Laughter” will unite a group of people and forge bonds like those seen only in military arenas. He believes that implementing
            CrossFit as the centerpiece for achieving fitness and cultivating a supportive and encouraging environment are the keys to a successful and thriving affiliate.
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Ginger.png" class="img-responsive img-circle" alt="">
          <h4>Ginger, Head Coach</h4>
          <p class="text-muted">Certifications: Level 1, Level 2, Olympic Lifting, Movement and Mobility, Scales, Gymnastics and Endurance</p>
          <p class="biography">
            A native of Texas, Ginger comes to us with a background in running and cycling and was a D1 collegiate athlete. Her son, Cam, also plays D1 soccer in South Carolina.  Although her
            career is in the corporate world, she is an artist/metalsmith with a concentration in jewelry design. She has varied interests outside of the box including frequent travel and her
            dogs Mav and Hoss. As an athlete, and overall curious human she works diligently to continue expanding her knowledge of CrossFit and functional movement through additional certifications,
            research, and her own training. One of her favorite aspects to CrossFit is its scalability and progressive nature. "When you can scale workouts but still derive an intensity that makes
            the workout relative to all levels of athletes, that's so much more appealing and successful.  On the other side of that, I respect how well versed you must be in all of the movements in
            order to achieve well rounded athleticism. You can lift heavy all day long but if you can't run an 800 or do a virtuous hollow rock, you're impeding your own progress(and vice versa)."
            Her advice for anyone would be never sacrifice form and technique for a PR or a "good" score.  Listen to your body. Mobilize. Listen to your coach.  Be patient and don't hesitate to use
            scales and progressions while you are learning to become proficient. Great movement takes time.
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Jacob.png" class="img-responsive img-circle" alt="">
          <h4>Jacob, Head Coach</h4>
          <p class="text-muted">Certifications: Level 1, Level 2 and Olympic Lifting</p>
          <p class="biography">
            Originally from Cordova, Tennessee, Jacob is a Level 2 CrossFit Trainer. A St. Tammany Parish District 2 firefighter, he is passionate about health and exercise. Jacob has always had an
            interest in athletics, playing soccer and running track throughout his younger years and high school. For Jacob, the most gratifying aspect of coaching is helping others overcome obstacles,
            realize their full potential and achieve personal goals. In addition to being a firefighter and a CrossFit coach, Jacob is also an Independent Distributor for AdvoCare. Jacob studied
            business at the University of Mississippi where he met his wife Elise. The couple resides in Madisonville with their two young daughters, Mackenzie and Avery.
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Dustin.png" class="img-responsive img-circle" alt="">
          <h4>Dustin</h4>
          <p class="text-muted">Certifications: CrossFit Level 1 and CrossFit Football</p>
          <p class="biography">
            A native of Slidell, Louisiana, Dustin grew up participating in sports from a young age. He played football and ran track at Slidell High School.
            He attended Southeastern Louisiana University for 2 years and while there walked on the football team.
            True to his passion for helping people and his community, Dustin has been a firefighter in Slidell for 8 years.  He is certified as an EMT, with goals of furthering
            his career as a paramedic in the next couple of years.  Dustin began doing CrossFit in 2010 because he was looking for a workout that would “challenge” him.
            CrossFit lived up to its claims and shortly after, he obtained his Level 1 certification and began coaching CrossFit.  Dustin’s favorite thing about coaching
            CrossFit is the opportunity to teach people new skills they never imagined they could do, and helping them have fun along the way!
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Lacey.png" class="img-responsive img-circle" alt="">
          <h4>Lacey</h4>
          <p class="text-muted">Certifications: Level 1, CrossFit KIDS, CrossFit Gymnastics</p>
          <p class="biography">
            Lacey is a CrossFit Level 1, CrossFit KIDS and CrossFit Gymnastics Trainer.  In addition to coaching both adults and kids, Lacey oversees all social
            media and marketing at the box, she organizes all of our special events and helps all of the coaches in developing their special programs at the box.
            Born and raised in Baton Rouge, Lacey graduated from LSU with a Bachelor’s in Business at the end of 2012.  For several years she helped teach dance to
            young girls at the studio where she took dance classes.  Her passion for coaching kids has led her to us today.  Lacey now resides in Madisonville with
            her husband, Lon. “I wake up every day excited to go to work! I am beyond blessed to call CFM my home and my extended family.  Coaching the kids in our
            community is a privilege that I do not take lightly and surrounding myself with our amazing community is something I cherish every day!”
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Lisa.png" class="img-responsive img-circle" alt="">
          <h4>Lisa</h4>
          <p class="text-muted">Certifications: Level 1, Olympic Lifting, Rowing, Concept2, Kettlebell and Resistance Band Instructor</p>
          <p class="biography">
            Lisa is a Level 1 CrossFit Trainer, certified in CrossFit Olympic Lifting, a CrossFit Rowing Trainer and Concept2 Instructor, a Kettle Bell Instructor, and
            Resistance Band Certified.  In addition to coaching full time, she is also the Business Manager for CFM.  Lisa earned her Crossfit training certification in
            February of 2012.  She coaches the ladies class at 9 a.m. and heads our women’s bible study.  Lisa has a heart for women and desires to reach them where they
            currently are and aid them in their physical and spiritual growth.  She is also co-owner of “GEAUX Row” along with coach Meredith Timberlake.  Together they
            provide indoor rowing instruction to CFM members and the community at large through affiliate seminars and rowing classes.  Lisa believes whole-heartedly that
            Crossfit can change people’s life for the better.  She resides in Ponchatoula with her husband and two children, all of whom participate in CrossFit.
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Rachel.png" class="img-responsive img-circle" alt="">
          <h4>Rachel</h4>
          <p class="text-muted">Certifications: Level 1</p>
          <p class="biography">
            Rachael is a Level 1 CrossFit Trainer. A local resident, she graduated from Covington High School and studied Business at Southeastern Louisiana University.
            Recently turning in her corporate shoes, she is now a stay at home mom. Rachael and her husband, Brad, live in Abita Springs with their son, Bennett.  Rachael has
            been active in the CrossFit community for four years and earned her Level 1 in 2014. With what started out as a personal fitness goal, quickly developed into a
            passion for assisting others. “Helping others also aids me in accomplishing my own personal goals, inside and outside of the box. The highlight of my career has
            been the friendships that I have developed, and seeing how a community can come together.” Her favorite part of coaching is helping others find confidence in themselves;
            there’s no better feeling than reaching a new PR. That look on your face, that scream of excitement says it all!
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Rudy.png" class="img-responsive img-circle" alt="">
          <h4>Rudy</h4>
          <p class="text-muted">Certifications: Level 1, CrossFit Football, USAW Level 1</p>
          <p class="biography">
            Rudy has been doing CrossFit for 5+ years.  He has been coaching and involved in sports for 25 years.  He developed a love for CrossFit one day when his son asked him
            to try it out.  After his first WOD he was hooked.  Rudy is now in his 50’s and in the best shape of his life.  He helps prove that age is no excuse to not do CrossFit.
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Laine.png" class="img-responsive img-circle" alt="">
          <h4>Laine</h4>
          <p class="text-muted">Certifications: Level 1, CrossFit KIDS</p>
          <p class="biography">
            Laine is a Level 1 CrossFit Trainer who has participated in athletics her entire life, including basketball, softball, gymnastics and track. In addition to being a coach,
            she is also a nurse and is currently in grad school studying towards her Family Nurse Practitioner degree. She has been doing CrossFit for nearly four years and got her Level 1
            in January of 2013. CrossFit has taught her so much about hard work, dedication, clean eating, mental and physical toughness.  “I am in the best shape of my life and
            continue to progress. I have a sincere passion for helping others improve their quality of life, reach their goals and push their limits through health and fitness.”
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/John.png" class="img-responsive img-circle" alt="">
          <h4>John</h4>
          <p class="text-muted">Certifications: Level 1, Strongman</p>
          <p class="biography">
            John is a CF-L1 and Crossfit Strongman certified trainer here at CFM. John creates the competition workout program for CFM along with Marcus. While not in the gym,
            John enjoys being with family, attending baseball games, and pretty much anything outdoors.
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Marcus.png" class="img-responsive img-circle" alt="">
          <h4>Marcus</h4>
          <p class="text-muted">Certifications: Level 1, Strongman</p>
          <p class="biography">
            Marcus, a northshore native, is an Level 1 trainer. He became hooked on Crossfit in 2013, and received his L1 in 2014. He is one of our competitors program coaches and
            loves workouts that are grueling and difficult. Gymnastic movements have become his specialty and passion.  Crossfit has shown him how to be healthy, get in shape, and
            eat healthy.  "The best thing about Crossfit is the sense of community and how supportive everyone is. You can't find it anywhere else. Getting fit and hanging out with
            like-minded people...What's better?!”
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Robert.png" class="img-responsive img-circle" alt="">
          <h4>Robert</h4>
          <p class="text-muted">Certifications: CrossFit Level 1</p>
          <p class="biography">
            Robert, originally from Metairie, Louisiana, has a passion for sports. Robert grew up playing rugby and baseball at Brother Martin High School and continued his passion for
            sports through fraternal intramural sports at the University of Southern Mississippi where he attended college. On his down time, Robert likes to run marathons and compete
            in triathlons. Robert is a CrossFit Level 1 trainer. In addition to being a CrossFit trainer, Robert works for his family’s business and served 10 years in the United States
            Army as well as one tour to Afghanistan during Operation Enduring Freedom.  Robert’s CrossFit journey began in the summer of 2011 and in December of 2013, Robert earned
            his CrossFit Level 1 certification. The most gratifying aspect of being a CrossFit Trainer for Robert is seeing CrossFit change peoples lives mentally, physically, and
            emotionally. Robert resides in Mandeville with his wife and two dogs.  “If your going through hell, KEEP GOING”
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a> 
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="/assets/img/team/Casey.png" class="img-responsive img-circle" alt="">
          <h4>Casey</h4>
          <p class="text-muted">Certifications: Level 1, Level 2, CrossFit Gymnastics</p>
          <p class="biography">
            Casey is a CrossFit Level 1, CrossFit Level 2, and CrossFit Gymnastics trainer. He is originally from Pittsburgh, PA and grew up playing soccer, football, running track.
            While in the Army in 2010, he wanted to go beyond the standard military fitness routine, so he started CrossFit and has not looked back. In addition to being a CrossFit coach,
            he now works with St. Paul’s High School in Covington as a Certified Athletic Trainer. “It’s an honor to coach others and help them reach their fitness goals. I encourage
            everyone, whether you are trying to compete, step out of your comfort zone, get in shape, or even make friends, to try CrossFit.”
          </p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="programs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Programs</h2>
        <h3 class="section-subheading text-muted">At CFM, we have any number of programs to fit your style.</h3>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Your Website 2016</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-responsive img-centered" src="/assets/img/portfolio/roundicons-free.png" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <p>
                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.
              </p>
              <ul class="list-inline">
                <li>Date: July 2014</li>
                <li>Client: Round Icons</li>
                <li>Category: Graphic Design</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Heading</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-responsive img-centered" src="/assets/img/portfolio/startup-framework-preview.png" alt="">
              <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
              <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-responsive img-centered" src="/assets/img/portfolio/treehouse-preview.png" alt="">
              <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
              <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-responsive img-centered" src="/assets/img/portfolio/golden-preview.png" alt="">
              <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
              <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-responsive img-centered" src="/assets/img/portfolio/escape-preview.png" alt="">
              <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
              <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-responsive img-centered" src="/assets/img/portfolio/dreams-preview.png" alt="">
              <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
              <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>